name: Run License Tests
on:
  workflow_call:
    inputs:
      runner:
        type: string
        default: "ubuntu-latest"
      package-extras:
        required: false
        type: string
      python-version:
        type: string
        default: 3.12
      packages-exclude:
        type: string
        default: '^(precise-runner|fann2|tqdm|bs4|ovos-phal-plugin|ovos-skill|neon-core|nvidia|neon-phal-plugin|bitstruct|attrs|RapidFuzz|typing_extensions|audioread).*'
      licenses-exclude:
        type: string
        default: '^(Mozilla|NeonAI License v1.0).*$'
jobs:
  license_tests:
    timeout-minutes: 15
    runs-on: ${{inputs.runner}}
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{inputs.python-version}}
      - name: Install Build Tools
        run: |
          python -m pip install build wheel
      - name: Install System Dependencies
        run: |
          sudo apt-get update
          sudo apt install python3-dev swig libssl-dev libfann-dev portaudio19-dev libpulse-dev
      - name: Install repo
        run: |
          if [ -z ${{ inputs.package-extras }} ]; then
            pip install .
          else
            pip install .[${{ inputs.package-extras }}]
          fi
      - name: Get explicit and transitive dependencies
        run: |
          pip freeze > requirements-all.txt
      - name: Check python
        id: license_check_report
        uses: pilosus/action-pip-license-checker@v0.5.0
        with:
          requirements: 'requirements-all.txt'
          fail: 'Copyleft,Other,Error'
          fails-only: true
          exclude: ${{ inputs.packages-exclude }}
          exclude-license: ${{ inputs.licenses-exclude }}
      - name: Print report
        if: ${{ always() }}
        run: echo "${{ steps.license_check_report.outputs.report }}"
