name: Update skill.json
on:
  workflow_call:
    inputs:
      runner:
        type: string
        default: "ubuntu-latest"
      target_lang:
        type: string
        default: "uk-ua"

jobs:
  translate_skill:
    runs-on: ${{inputs.runner}}
    timeout-minutes: 15
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          path: action/skill/
      - name: Checkout Scripts Repo
        uses: actions/checkout@v4
        with:
          path: action/github/
          repository: NeonGeckoCom/.github
          ref: FEAT_AutomateSkillTranslation
          # TODO: Default ref
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - name: Install Dependencies
        run: |
          sudo apt update
          sudo apt install -y gcc git
          pip install -r ${{github.workspace}}/action/github/requirements/auto_translate_skill.txt
      - name: Translate Skill
        run: |
          python ${{github.workspace}}/action/github/scripts/auto_translate_skill.py
        env:
          SKILL_DIRECTORY: ${{github.workspace}}/action/skill
          TARGET_LANG: ${{inputs.target_lang}}
          DEEPL_API_KEY: ${{secrets.DEEPL_API_KEY}}
      - name: Push Translation
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Update ${{inputs.target_lang}} Translation
          repository: action/skill/
          branch: XLATE_${{inputs.target_lang}}
          create_branch: true
